<div class="container">
  <form >
  <div class="body d-md-flex align-items-center justify-content-between">
      <div class="box-1 mt-md-0 mt-5">
          <img src="assets/img14.png"
              class="" alt="" style="height: 100vh;">
      </div>
      <div class=" box-2 d-flex flex-column h-100">
          <div class="mt-5">
              <p class="mb-1 h-1">Login.</p>

              <div class="d-flex flex-column ">

                  <div class="d-flex align-items-center">
                      <label>email</label>
                      <input type="text" name="email" [(ngModel)]="email">
                  </div>
                  <div class="d-flex align-items-center">
                    <label>password</label>
                    <input type="password" name="email"  [(ngModel)]="password">
                </div>
                <div class="d-flex align-items-center">
                  <button (click)="login()">Login</button>
              </div>
                  <div class="mt-3">
                      <p class="mb-0 text-muted">don't have an account?</p>
                      <div class="btn btn-primary"><a routerLink="/register">register</a><span class="fas fa-chevron-right ms-1"></span></div>
                  </div>
                  <div class="mt-3">
                    <p class="mb-0 text-muted">Forgot your password</p>
                    <div class="btn btn-primary"><a routerLink="/forgetpass">forgot password</a><span class="fas fa-chevron-right ms-1"></span></div>
                </div>
              </div>
          </div>
          <div class="mt-auto">
              <p class="footer text-muted mb-0 mt-md-0 mt-4">By register you agree with our
                  <span class="p-color me-1">terms and conditions</span>and
                  <span class="p-color ms-1">privacy policy</span>
              </p>
          </div>
      </div>
      <span class="fas fa-times"></span>
  </div>


  <div class="row mt-2">
    <a (click)="signInWithGoogle()" style="text-decoration: none;cursor: pointer;">
        <div class="card shadow text-center">
            <div class="card-body">
                <img src="../../../assets/icons8-google-48.png" alt="" height="24px" width="24px"> Sign In with Google
            </div>
        </div>
    </a>
</div>
</form>
</div>
